:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}

*{
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  color: var(--clr-neon);
}

body{
  background: url('../images/space.jpg');
  background-position: center;
  background-size: cover;
}

header{
  margin-left: 80px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

main{
  display: flex;
  justify-content: space-around;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.left, .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset, .instructions, .music, .score-board, .up-next-img, .level-board{
  margin: 90px 0;
  font-size: 2rem;
}

.score-board, .level-board{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score, .level{
  margin-bottom: 0;
}

.grid-wrapper {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 80px;
}

h1{
  margin-bottom: 0px;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  /* opacity: 0.9; */
}

.neon{
  background: none;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em .5em;
  border-radius: 0.15em;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  position: relative;
}

.game-over-btn::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}


.neon::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon:hover {
  background: var(--clr-neon);
  color: var(--clr-bg);
  text-shadow: none;
}

.neon:hover::before{
  opacity: 1;
}

.neon:hover::after {
  opacity: 1;
} 

.grid {
  border: 1px solid #ff14bd;
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 800px;
  width: 400px;
  opacity: 80%;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 5%;
  width: 10%;
  opacity: 20%;
}

.grid div.block{
  background: url('../images/tetrisBlock.png');
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 70%;
}

.game-over{
  display: none;
}

.pop-up{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  font-size: 3rem;
  margin-left: 80px;
}

.level-board{
  margin-top: 0px;
}

.up-next {
  margin: 0 auto;
}

.imgBlock{
  height: 200px;
  /* background: url('../images/lBlock.png'); */
  background-repeat: no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 1300px){

  .instructions, .music, .level-board, .up-next, .score-board, .right, .reset{
    display: none;
  }
  .container{
    height: 1000px;
    /* flex-direction: column-reverse; */
  }

  .reset{
    margin: 0 auto;
  }

  h1{
    margin: 10px 0;
  }

  header{
    margin-left: 0;
  }


}
@media only screen and (max-height: 1100px){
  header{
    font-size: 1rem;
  }


}

@media only screen and (max-height: 900px){

  header{
    font-size: 1rem;
  }

  .grid {
    height: 600px;
    width: 300px;
  }
}
